<!--@css(/layout/basic/css/slideMenu.css)-->
<!--@js(/layout/basic/js/slide_menu.js)-->

<aside id="aside" module="layout_slidePackage">
<a href="#none" class="btnClose fd-sidebar-close"><img src="/web/upload/fitsoft/mobile/close.png" alt="닫기"></a>

    
<div id="slidemenu" class='fd-sidebar'>
    <!-- 슬라이드 메뉴 상단 -->
    <div id="slidemenutop" class="pret">
        <p module="Layout_stateLogon"><a href='/myshop/index.html'>마이페이지</a></p>
        <div module="Layout_stateLogoff">
            <a href='/member/login.html'>로그인</a>
            <a href='/member/join.html'>회원가입</a>
        </div>            
    </div>
    <!-- 슬라이드 메뉴 상단 close -->
    
	<div class="inner">   
        
    	<div id="menulist">
            
            <!--<button class="accordionmenu">by COSMO</button>
            <div class="panel">
                <ul>
                    <li><a href="/story.html">STORY</a></li>
                    <li><a href="/promise.html">대량구매</a></li>
                </ul>
            </div>-->
            <button class="accordionmenu2"><a href="/about.html">BRAND</a></button>
            
            <button class="accordionmenu">SHOP</button>
            <div class="panel">
                <p module='layout_category' class='fd-shop-menu'>
                    <a href="/product/list.html{$param}">- {$name}</a>
                    <a href="/product/list.html{$param}">- {$name}</a>
                </p>
            </div>
            
            <button class="accordionmenu2"><a href="/subscription.html">SUBSCRIPTION</a></button>
            
            <button class="accordionmenu2"><a href="/board/gallery/list.html?board_no=8">EVENT & NOTICE</a></button>
            <div class="panel">
                <ul>
                    <!--<li><a href="/board/memo/list.html?board_no=1001">SHOW_US</a></li>
                    <li><a href="/collection.html?cate_no=45">WITH_US</a></li>-->
                    <!--<li><a href="/fitsoft/event_member.html">MEMBERSHIP</a></li>-->
                </ul>
            </div>
            
            <button class="accordionmenu2"><a href="/board/product/list.html?board_no=6">Q&A</a></button>
            
            <button class="accordionmenu2"><a class="submenu pret" href="/fitsoft/event_member.html">멤버십</a></button>
            
            <!-- <button class="accordionmenu2"><a class="submenu pret" href="">고객센터</a></button> -->

            
    	</div>

            
        <!-- 검색창 -->
        <div class="search-bar">
            <div module="Layout_SearchHeader">
                <!--
                $product_page=/product/detail.html
                $category_page=/product/list.html
                -->
                <fieldset id="search_fieldset">
                    <legend>검색</legend>{$form.keyword}<img src=/web/upload/fitsoft/mobile/searchicon.png onclick="{$action_search_submit}">
                </fieldset>
            </div> 
        </div>



                       
        <!-- 글로벌 --> 
        <div class='side-bot'>
            <div module="Layout_multishopList" class="thumb fd-side-global">
                <ul module="Layout_multishopListitem">
                    <li><a href="//{$shop_domain}/">KR<img src="//img.cafe24.com/img/common/global/{$language}_32x24.png" alt="" /></a></li>
                    <li><a href="//{$shop_domain}/">EN<img src="//img.cafe24.com/img/common/global/{$language}_32x24.png" alt="" /></a></li>
                </ul>
            </div>
            <div class='fd-side-member pret'>
                <p module="Layout_stateLogon"><a href='{$action_logout}'>로그아웃</a></p>
                <p><a href='/myshop/order/list.html'>주문조회</a></p>
            </div>
        </div>
        
        

    
        <!-- 고객센터번호/계좌 -->
        <!-- <div id="cscenter">

            <div id="customer">
                <ul>
                    <li class="cs1">1234-1234</li>
                    <li class="cs2">Opening hours. am9-pm6</li>
                    <li class="cs2">Sat, Sun Off</li>
                </ul>
            </div>

            <div id="bank">
                <ul>
                    <li class="bank1">하나은행 281-910024-10404</li>
                    <li class="bank2">예금주 : 이즈프럼</li>
                </ul>
            </div>

        </div>         -->


        <!-- SNS아이콘 -->
        <!-- <div id="sns">
            <ul>
                <li>
                    <span style="margin-right:10px">Follow us</span>
                    <a href="https://www.facebook.com/isfrom.official" target="_blank"><img src="/web/upload/fitsoft/sns/fb.png" style="height:18px"></a>
                    <a href="https://pf.kakao.com/_tnMiK" target="_blank"><img src="/web/upload/fitsoft/sns/kakao.png"></a>
                </li>
                <div style="clear:both"></div>
            </ul>
        </div> -->
    
        
        
        
        
    </div><!-- inner close -->
    
    
    
</div>

</aside>
