/* 하단 */
#bottom {/* max-width:1200px; display:flex; justify-content:space-between; */ margin:0 auto; padding:0; color:#000; font-size:12px;}
#bottom .footer_left {display:flex;}
#bottom .footer_left .footer_logo {margin-right:40px; margin-top:-10px;}

#bottom .footer_left .bottom_company .utilMenu {display:flex; margin-bottom:20px;}
#bottom .footer_left .bottom_company .utilMenu li {margin-right:12px;}
#bottom .footer_left .bottom_company .utilMenu li a {color:#999;}

#bottom .footer_left .bottom_company .address {line-height:1.6;}
#bottom .footer_left .bottom_company .address span {position:relative; padding:5px;}
#bottom .footer_left .bottom_company .address a {color:#999;}
#bottom .footer_left .bottom_company .address .cont:after {position:absolute; content:''; display:inline-block; width:1px; height:12px; background:#999;top:6px;right:0;}

#bottom .footer_left .bottom_company .copyright {margin-top:14px;}


#bottom .footer_right {display:flex;}
#bottom .footer_right .bottom_info {margin-right:80px;}
#bottom .footer_right .bottom_info h2 {font-size:20px; color:#050505; font-weight:500; padding-bottom:20px;}
#bottom .footer_right .bottom_info .runtime li {line-height:1.6; white-space:pre-wrap;}
#bottom .footer_right .bottom_info .sns {display:inline-flex; margin-top:20px;}
#bottom .footer_right .bottom_info .sns i {color:#3f3e3d; font-size:20px; margin-right:12px;}

#bottom .footer_right .bank_info h4 {color:#050505; font-size:14px; margin-bottom:20px; font-weight:700;}
#bottom .footer_right .bank_info .bank span {display:inline-block;width:54px; line-height:1.6;}