/* 상품진열 기본 CSS */

#fitsoftimg2 {z-index:10; position:absolute; left:0px; top:0px; opacity:0; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
#fitsoftimg2:hover { opacity:1; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}

.fitsoftlist .prdpadding {margin:0 15px 70px 15px; } /* 상품들간의 간격 */
.fitsoftlist .prdline {margin-bottom:0; position:relative;} /* 상품이미지 아래 상품명과의 간격 */

.fitsoftlist {margin:0 auto 60px; }
.fitsoftlist ul { zoom:1; width:100%; margin-bottom:0;  display: table; font-size:0;}
/* .fitsoftlist ul.spec {display:flex; align-items:center;} */
.fitsoftlist ul a:link {text-decoration:none;}
.fitsoftlist ul a:hover {text-decoration:none;}
.fitsoftlist ul:after {content:""; display:block; clear:both; }

.fitsoftlist > ul > li { display: block; vertical-align:top; border: 1px solid transparent; padding: 10px; box-sizing: border-box; min-height: 357px;}
.fitsoftlist > ul > li.item:hover .item_link_box {opacity:1; transition:all .4s ease-in;}
/* .fitsoftlist ul li:first-child {padding-bottom:30px;} */
.fitsoftlist > ul > li.fitsoft-prd-item {display:inline-block;}
.fitsoftlist > ul > li.fitsoft-prd-item:first-child {display:block; padding-bottom:30px;}
.fitsoftlist > ul > li.fitsoft-prd-item span {padding-right:6px; line-height:20px;}
.fitsoftlist > ul > li.fitsoft-prd-item:nth-child(2) span {display:flex; align-items:center; flex-direction: row-reverse;}
.fitsoftlist > ul > li:hover {border:1px solid #00BBFF;}

.fitsoftlist ul.grid2 > li { display: inline-block; width:50%; vertical-align:top;}
.fitsoftlist ul.grid3 > li { display: inline-block; width:33.33%; vertical-align:top;}
.fitsoftlist ul.grid4 > li { display: inline-block; /* width:25%; */ width: calc((100%/4) - 14px); vertical-align:top; margin-right: 15px; margin-top: 15px;}
.fitsoftlist ul.grid4 > li:nth-of-type(-n + 4) {margin-top: 0;}
.fitsoftlist ul.grid4 > li:nth-of-type(4n) {margin-right: 0;}
.fitsoftlist ul.grid5 > li { display: inline-block; /* width:20%; */ width: calc((100%/5) - 12px); vertical-align:top;}

/* 상품 목록 & 검색 목록 */
.fitsoftlist ul > li:nth-child(2) span {font-size: 18px; font-weight: 500 !important;}
.fitsoftlist ul > li:nth-child(2) span span {float: left; color: #DD0C0C !important; margin-right: 10px;}


/* 메인진열 상품 리스트 */
.ec-base-product ul li { display: block; vertical-align:top;}
.ec-base-product ul li.item:hover .item_link_box {opacity:1; transition:all .4s ease-in;}
.ec-base-product ul li.fitsoft-prd-item {display:inline-block;}
.ec-base-product ul li.fitsoft-prd-item:first-child {display:block; line-height: 20px; margin-bottom: 5px;}
.ec-base-product ul li.fitsoft-prd-item span {padding-right:6px; line-height:20px;}
.ec-base-product ul li.fitsoft-prd-item:nth-child(2) span {display:flex; align-items:center; flex-direction: row-reverse; font-size: 18px !important; font-weight: 500 !important;}
.ec-base-product ul li.fitsoft-prd-item:nth-child(2) span span {color: #DD0C0C !important;}


/* 상품정보 디자인 CSS */

.fitsoftlist .name {clear:both; font-size:14px; font-weight: 400; margin-bottom:5px;}
/* .fitsoftlist .name span {color:#050505!important; font-size:22px!important;} */
.fitsoftlist .name a {color:#000}
.fitsoftlist .icon img {margin-top:12px; margin-right:2px }
.fitsoftlist .prices {color:#000; font-size:18px; line-height: 26px;}
.fitsoftlist .prices span {float: left; margin-right: 10px;}
.fitsoftlist .price { font-size:14px; color:#555; line-height: 20px; font-weight: 500;}
.fitsoftlist .normal { font-size:18px; color:#999; }
.fitsoftlist .sale {font-size:24px; color:#000; font-weight:500;}
.fitsoftlist .info { margin-top:10px; line-height:20px; font-size:16px; color:#999;}
.fitsoftlist .summary {color:#999; font-size:16px;}


.fitsoftlist .colorWrap {height:19px}

/* 컬러칩 CSS */

.fitsoftlist .color { padding-top:7px; text-align:right;}
.fitsoftlist .color ul { display: inline-block; text-align:right; margin: 0; padding: 0; zoom:1; *display: inline;}
.fitsoftlist .color li {padding:0;}
.fitsoftlist .chips { width:8px; height:8px; margin-left:5px; font-size:0; line-height:0; }


.fitsoftlist .box {}
.fitsoftlist li {cursor:pointer;}
/* .fitsoftlist li:hover {background-color:#fafafa;} */
.fitsoftlist li .thumbnail {}
.fitsoftlist li .thumbnail a {display:inline-block; width:100%;}
.fitsoftlist li .thumbnail a img {width:100%;}
/* .fitsoftlist li:hover .box {background-color:#fafafa;} */
/* .fitsoftlist li .fitsoft-prd-item span {display:inline-flex;} */

.item_link_box {opacity:0;}
.item_link {box-sizing:border-box; display:flex; width:100%;}
.item_link a.buynow-btn {box-sizing:border-box; border:1px solid #000; background:#3F3E3D; color:#fff; font-weight:500; width:60%; height:50px;line-height:50px; text-align:center;display:inline-block; font-size:16px;}
.item_link button {box-sizing:border-box; border:1px solid #3f3e3d; height:50px; line-height:50px; text-align:center; background-color:#fff; width:20%;}
.item_link button.basket-btn {background-image:url(/web/upload/fd-com/out-of-stock.png); background-repeat:no-repeat; background-position: center;}
.item_link button.basket-btn img {background:#fff; padding:10px;}
.item_link .wish-btn {border-right:0;}

/* 정렬버튼 커스텀 (22.06.07) */
.sort select {padding:10px; height:auto; border:none; font-weight:600;}

/* 추천상품 커스텀 (22.06.07) */
.fitsoftlist-recommend ul li.item .item_link_box {display:none;}
.fitsoftlist-recommend ul li.item:hover .item_link_box {display:none;}

/* 상품정보 디자인 CSS */

.ec-base-product .name {clear:both; font-size:13px; margin-bottom:5px;}
/* .ec-base-product .name span {color:#050505!important; font-size:22px!important;} */
.ec-base-product .name {margin-bottom: 6px;}
.ec-base-product .icon img {margin-top:5px; margin-right:2px }
.ec-base-product .prices {line-height:18px; color:#000; font-size:18px; margin-top:30px;}
.ec-base-product .price { font-size:18px; color:#999; margin-right:5px; }
.ec-base-product .normal { font-size:18px; color:#999; }
.ec-base-product .sale {font-size:24px; color:#000; font-weight:500;}
.ec-base-product .info { margin-top:10px; line-height:20px; font-size:16px; color:#999;}
.ec-base-product .summary {color:#999; font-size:16px;}

.ec-base-product .colorWrap {height:19px}

/* 컬러칩 CSS */

.ec-base-product .color { padding-top:7px; text-align:right;}
.ec-base-product .color ul { display: inline-block; text-align:right; margin: 0; padding: 0; zoom:1; *display: inline;}
.ec-base-product .color li {padding:0;}
.ec-base-product .chips { width:8px; height:8px; margin-left:5px; font-size:0; line-height:0; }


.ec-base-product .box {padding:10px 0 0 0;}
.ec-base-product li {cursor:pointer;}
/* .ec-base-product li:hover {border:1px solid #00BBFF;}
.ec-base-product li .thumbnail {width: 80%; margin:20px auto;} */
.ec-base-product li .thumbnail a {display:inline-block; width:100%; font-size: 0;}
.ec-base-product li .thumbnail a img {width:100%; border: 0;}
/* .ec-base-product li:hover .box {background-color:#fafafa;} */
.ec-base-product li .fitsoft-prd-item span {display:inline-flex;}