



/* #top #topcarticon {position:relative;}
#top #topcarticon .count {background-color:#3f3e3d; display:inline-flex; align-items:center; justify-content:center; color:#fff; font-size:12px; border-radius:50%; font-weight:900; width:19px; height:19px; position:absolute; right:-13px; top:-4px; }
#top #topcarticon img {} */

/* #top .xans-layout-multishoplist.list { float:right; position:relative; z-index:10; height:19px; margin-top:0; font-size:11px; font-family: 'Montserrat', sans-serif; margin-right:13px;}
#top .xans-layout-multishoplist.list .toggle { display:block; height:19px; padding:0; color:#000; line-height:19px;background:transparent }
#top .xans-layout-multishoplist.list .toggle span { font-size:11px; }
#top .xans-layout-multishoplist.list .toggle span > img { vertical-align:middle; width:9px; height:6px; padding-left:10px;}
#top .xans-layout-multishoplist.list > ul { display:none; position:absolute; left:0; top:20px; overflow:auto;}
#top .xans-layout-multishoplist.list > ul li { position:relative; height:30px; line-height:30px; }
#top .xans-layout-multishoplist.list > ul li a { display:block; color:#000; white-space:nowrap; text-decoration:none; text-overflow:ellipsis; }
#top .xans-layout-multishoplist.list > ul li a span {margin-right:10px;}
#top .xans-layout-multishoplist.list > ul li.selected a { background:#f3f3f3}
#top .xans-layout-multishoplist.list > ul li a img {height:12px; position:absolute; left:0; top:9px; }
#top .xans-layout-multishoplist.list > ul li a .name strong {  }
#top .xans-layout-multishoplist.list > ul li a .unit { position:absolute; right:38px; top:0; color:#000; }
#top .xans-layout-multishoplist.list.show > ul { display:block; }
 */
 
#top #log {display:none;}

#top .util-wrap {display:inline-flex;align-items:center; position:absolute; bottom:0; right:0;}